body {
    font-family: Arial, sans-serif;
    background-color: #d4d0d0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d10000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2 {
    color: #4CAF50;
    text-align: center;
}

.product {
    margin: 0px auto;
    padding: 10px;
    max-width: 600px;
    border: #ddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

